.t-link {
  color: @color__blue;
  text-decoration: none;
  transition: color 0.15s ease-out;

  &:hover {
    color: @color__red;
  }

  &_gray {
    color: @color__gray;
  }
  &_dark {
    color: @color__black;
  }

  &_account {
    padding: 1em;
  }
  &__news-title {
    font-size: larger;
    padding-right: 15px;
  }
  &_search-menu {
    padding: 0 1em 0 0;
  }
  &_widget-title {
    font-size: larger;
    padding-right: 2px;
  }
  &_widget-text {
    padding: 10px 0 10px 0;
  }
  &_footer {
    padding-bottom: 5px;
  }
}