.search-form {
  margin: -20px 0 -20px 0;

  &__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    width: 140px;
    height: 100px;
  }
  &__input {
    width: 700px;
    height: 36px;
    border: 2px solid @color__yellow;
  }
  &__submit-button {
    padding: 0 1em 0 1em;
    background-color: @color__yellow;
    height: 36px;
  }
}